@use '../../mixins' as *;

.v-select {
  > select {
    font-size: 16px;
    border-radius: $border_radius;
    padding: 10px;
    min-width: 100px;
    transition: all $anim-speed-normal;

    // Hide the arrow
    -webkit-appearance: none;
    -moz-appearance: none;

    // Theme
    background-color: transparent;
    border: 1px solid $color_base_subtle;
    color: $color_trim_subtle;
    @include dark {
      border-color: $color_base_subtle_dark;
      color: $color_trim_subtle_dark;
    }

    &:hover,
    &:focus {
      background-color: $color_base_more_subtle;
      border-color: $color_base_less_subtle;
      color: $color_trim;
      @include dark {
        background-color: $color_base_more_subtle_dark;
        border-color: $color_base_less_subtle_dark;
        color: $color_trim_dark;
      }
    }

    &:focus {
      border-color: $color_active;
      @include dark {
        border-color: $color_active_dark;
      }
      outline: 0;
    }
  }
}
