$blockw: 15px;
$blockh: 15px;
$blockmargin: 5px;
$loaderw: $blockw * 3 + $blockmargin * 2;
$loaderh: $blockh * 3 + $blockmargin * 2;
$delayenter: 0.3s;
$topenter: -10px;

@mixin transition($value) {
  -webkit-transition: $value ;
  -moz-transition: $value ;
  transition: $value ;
}

@mixin delay( $delay ) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  animation-delay: $delay;
}

@keyframes fadeanimation{
  0%   { 
    opacity: 0;
    top: $topenter;
  }
  5%   { 
    opacity: 1;
    top: 0px;
  }
  50% { 
    opacity: 1;
    top: 0px;
  }
  55.9% { 
    opacity: 0;
    top: - $topenter;
  }
}

.block_loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: - $loaderw / 2;
  margin-top: - $loaderh / 2;

  .block {
    background-color: #1fbeca;
    width: $blockw;
    height: $blockh;
    position: relative;
    float: left;
    top: $topenter;
    margin-right: $blockmargin;
    margin-top: $blockmargin;

    opacity: 0;
    animation: fadeanimation 6s infinite;

    &:nth-child(1){
      @include delay(6 * $delayenter);
    }
    &:nth-child(2){
      @include delay(7 * $delayenter);
    }
    &:nth-child(3){
      @include delay(8 * $delayenter);
    }
    &:nth-child(4){
      @include delay(3 * $delayenter);
      clear: both;
    }
    &:nth-child(5){
      @include delay(4 * $delayenter);
    }
    &:nth-child(6){
      @include delay(5 * $delayenter);
    }
    &:nth-child(7){
      clear: both;
    }
    &:nth-child(8){
      @include delay(1 * $delayenter);
    }
    &:nth-child(9){
      @include delay(2 * $delayenter);
    }
  }
}
