$border-rad: 3px;

.volta-segmented_control
{
  .volta-tab_bar
  {
    border-bottom: 0 none;
    margin-bottom: 0;
  }
  .volta-tab_bar-link
  {
    border: 1px solid #ddd;
    border-right: 0 none;
    border-radius: 0;
    padding: 10px;
    background: #fff;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;

    &:first-child
    {
      border-radius: $border-rad 0 0 $border-rad;
    }

    &:last-child
    {
      border-right: 1px solid #ddd;
      border-radius: 0 $border-rad $border-rad 0;
    }
  }
}
