@use "../../mixins" as *;

.volta-date_picker.volta-dropdown {
  display: inline-block;

  > .volta-textfield input {
    cursor: pointer;
  }

  > .dropdown-contents {
    left: 0;
    margin-top: 6px;
    padding: 12px;
    top: 100%;
  }
}
