// lrt - aLeRT!

.lrt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  max-width: none;
  z-index: 1001;
}

.lrt_container {
  width: 500px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10vh auto 0;
}

.lrt_title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}

.lrt_buttons {
  display: flex;

  > .btn {
    flex-grow: 1;

    & + .btn {
      margin-left: 20px;
    }
  }
}
