@use "../../mixins" as *;

.volta-text_editable {
  border-radius: 5px;
  display: inline-block;
  transition: background-color $anim-speed-normal, color $anim-speed-normal;

  &:hover:not(:focus) {
    background-color: $color_base_more_subtle;
    color: $color_trim;
    cursor: pointer;
  }

  &:focus {
    background-color: transparent;
    color: $color_trim;
    cursor: text;
    outline: 2px solid $color_active;
    outline-offset: 2px;
  }
}
