// *************************************
//
//   Autocomplete module
//
// *************************************

.autocomplete {
  position: relative;
  min-width: 300px;
  background: white;

  &.is-single {
    &:after {
      content: "";
      position: absolute;
      right: 5px;
      top: 10px;
    }

    .autocomplete_chosen {
      cursor: pointer !important;
    }

    .autocomplete_chosen_item_pill {
      background: transparent;
      cursor: pointer;
    }
  }
}

.autocomplete_options {
  list-style: none;
  text-align: left;
  position: relative;
}

.autocomplete_chosen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 10px;
  cursor: text;
}

.autocomplete_chosen_item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 4px;
  float: left;
  cursor: default;
  max-width: 100%;
  line-height: 0;

  > .autocomplete_chosen_item_pill {
    padding-top: 0;
    padding-bottom: 0;
    height: 28px;
    line-height: 28px;
    max-width: 100%;
  }
}

.autocomplete_chosen_item_pill {
  font-weight: 600;
  color: white;
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: #666;
  padding: 0 8px;
  border-radius: 14px;

  &.is-focused {
    background: #444;
  }

  a {
    color: white;
    margin-left: 6px;
    text-decoration: none;
  }
}
