@use "../../mixins" as *;

// Field styles joined into one.
%field_styles {
  // Act as div
  width: 100%;
  box-sizing: border-box;

  transition: background-color 0.2s, border-color 0.2s, color 0.2s;

  border: 1px solid $color_base_less_subtle;
  border-radius: 4px;

  background-color: $color_base_more_subtle;
  color: $color_trim_subtle;

  @include dark {
    background-color: $color_base_more_subtle_dark;
    color: $color_trim_subtle_dark;
    border-color: $color_base_less_subtle_dark;
  }

  &:hover {
    background-color: $color_base_subtle;
    color: $color_trim_subtle;

    @include dark {
      background-color: $color_base_subtle_dark;
      color: $color_trim_subtle_dark;
    }
  }

  &::placeholder {
    color: $color_base_less_subtle;
    @include dark {
      color: $color_base_less_subtle_dark;
    }
  }
}

$textfield_types: date, datetime-local, email, month, name, number, password, search, tel, text, time, url, week;

@each $type in $textfield_types {
  input[type=#{$type}] {
    padding: 7px 10px;
    @extend %field_styles;
  }
}

select {
  padding: 7px 8px;
  @extend %field_styles;
  @include no_select;
}

textarea {
  padding: 7px 10px;
  @extend %field_styles;
  font-family: inherit;
}

// For overrides
.v-form {
  padding: 7px 10px;
  @extend %field_styles;
}

input[type=date],
input[type=datetime] {
  font-family: inherit;
  cursor: pointer;
}


// Auto Fill Colors
/*
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
  border-color: $active_color;
  -webkit-text-fill-color: $active_color;
  -webkit-box-shadow: 0 0 0 1000px #000 inset;
  transition: background-color 0s ease-in-out 0s; // Hack to stop background-color
}
*/


.field {
  margin-top: 20px;
  margin-bottom: 30px;

  .field-label,
  h4 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .field-value {
    font-size: 14px;
  }
}