.l-row {
    display: flex;

    &:not(.l-row-middle) {
        align-items: start;
    }

    &.l-row-middle {
        align-items: center;
    }

    .l-row-l,
    .l-row-r {
        flex-grow: 1;
        flex-direction: column;
    }

    .l-row-r {
        text-align: right;
    }
}