$spacing: 10px;

dl {
  display: flex;
  flex-wrap: wrap;

  > dt {
    width: 33%;
    color: #6E6E73;
    font-weight: 400;
    margin-top: $spacing;
    margin-bottom: $spacing;
    padding-right: $spacing;
  }

  > dd {
    width: 67%;
    flex-grow: 1;
    margin-top: $spacing;
    margin-bottom: $spacing;
  }
}

dl.line {
  > dt {
    min-width: 150px;
    float: left;
    clear: both;
  }

  > dd {
    margin: 10px 0;
    min-height: 20px;
  }
}

.dictionary {
  > li {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

    &:after {
      // clearfix
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    > b {
      color: #999;
      width: 150px;
      flex-shrink: 1;
    }

    > span,
    > div {
      flex-grow: 1;
    }
  }
}

.component-action_list {
  > * {
    cursor: pointer;
    user-select: none;
    padding: 10px;

    &:hover {
      background-color: #eee;
    }
  }
}

dl.line {
  &::after {
    content: "";
    clear: both;
    display: table;
  }

  > dt {
    width: 20%;
    min-width: 100px;
    max-width: 250px;
    clear: both;
  }

  > dd {
    width: 80%;
  }

  > * {
    float: left;
    margin: 10px 0;
    min-height: 20px;
  }
}

.dictionary-list {
  display: flex;

  > .term {
    width: 20%;
    min-width: 100px;
    max-width: 250px;
  }

  > .definition {
    flex-grow: 1;
    margin: 10px 0;
    min-height: 20px;
  }
}
