@use '../../mixins' as *;
.volta-tab_bar
{
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.volta-tab_bar-link
{
  border-bottom: 1px solid transparent;
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  color: #bbb;
  margin-bottom: -1px;
  transition: color $anim-speed-normal, border-color $anim-speed-normal;

  &:hover
  {
    color: #888;
    // border-bottom-color: #111;
  }

  &.tab-active
  {
    cursor: default;
    color: color-mix(in srgb, #39b4e4 90%, black 10%);
    border-bottom: 2px solid color-mix(in srgb, #39b4e4 90%, black 10%);
    padding-bottom: 9px;
  }

  &:link, &:visited, &:hover, &:active
  {
    text-decoration: none;
  }
}
