@use "../../mixins" as *;

.soda-dropdown {
  position: relative;
  // label
  > a {
    display: block;
    padding: 10px;
    // border: 1px solid #ccc;
    text-decoration: none;
  }

  > .dropdown-contents {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    // padding: 10px;

    background-color: $color_base;
    border-color: $color_base_subtle;
    @include dark {
      background-color: $color_base_dark;
      border-color: $color_base_subtle_dark;
    }
  }

  // Only contrain width using the class
  &.dropdown-constrain_width > .dropdown-contents {
    right: 0;
  }

  &.is-open > .dropdown-contents {
    display: block;
  }

  .dropdown-label {
    margin-right: 3px;
  }
}

.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
}
