/* base.scss */

@use '../mixins' as *;

html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // THEME
  // transition: background-color 0.2s, color 0.2s; // Causes flashing on reload

  background-color: $color_base;
  color: $color_trim;
  @include dark {
    background-color: $color_base_dark;
    color: $color_trim_dark;
  }
}

html {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;

  &[data-theme='dark'] {
    --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);
  }
}