.date-error {
  // background-color: ${colors.notifications.error};
  border-radius: 50%;
  width: 0.5em;
  height: 0.5em;
}

.pika-single
{
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
// @import '../../../node_modules/pikaday/css/pikaday.css';
